<main>
  <div class="container">
    <div class= "top-page">
      <%= link_to "初めての方はこちら", new_user_registration_path %>
      <p> 君の笑いの力を示せ！ </p>
      <h3>変顔大喜利とは？</h3>
      <p>変顔だけという縛りをあえて与えることでより笑いが生まれるをコンセプトに作られたサービスです</p>
      <h5>変顔大喜利の遊び方</h5>
      <%= image_tag '3.png', size: "500x700" %>
      <p>自分で大喜利から好きな変顔とおもしろワードを投稿しよう</p>
      <%= image_tag '1.png', size: "300x1000" %>
      <p>投稿された変顔大喜利一覧を見ることができます</p>
      <%= image_tag '4.png', size: "500x700" %>
      <p>投稿画像クリックで他の人の変顔も大喜利できます</p>
      <%= image_tag '2.png', size: "500x850" %>
      <p>今すぐ変顔投稿でブラウザ内でも変顔撮影できます</p>
      <p>このように面白いサービスとなっております。みんなで変顔大喜利をして盛り上がろう！</p>
      <%= link_to "初めての方はこちら", new_user_registration_path %>
    </div>
  </div>
</main>