<div class="container">   
    <h3><%= "お気に入りの大喜利" %></h3>
    <% @posts.each do |post| %>
            <div class="post-image">
                <%= link_to image_tag(post.img.to_s, size: "400"), post_path(post) %><br />
            </div>
            <%= link_to post.user.username, user_path(post.user) %><br />
            <div id="like-btn-<%= post.id %>">
                <h5><%= post.ogiri %></h5>
                <% if current_user.id == post.user.id %>
                    <%= link_to post_path(post), method: :delete, data: {confirm: "削除しますか?"} do %>
                        <i class="fas fa-times-circle"></i>
                    <% end %>
                <% end %>
                <%= render "goods/good", post: post %>
            </div>

            <% post.comments.each do |comment| %>
            <div id="like-btn-<%= post.id %>">
                <%= comment.ogiri %>
                <small><%= comment.user.username %></small>
                <%= render "nices/nice", comment: comment %>
            </div>
            <% end %>

    <% end %>
</div>    