<div class="container">
    <% if current_user %>
    <%= "変顔大喜利へようこそ#{current_user.username}さん" %><br />
    <% end %>
    <%= link_to "ユーザー情報設定はこちら", edit_user_registration_path %> 
    <%= render 'new' %>
    <%= link_to "自分の大喜利を見る", "#" %><br />
    <%= link_to "人気", "#" %><br />
    <%= link_to "新着", "#" %><br />
    <%= link_to "お気に入りの大喜利", "#" %><br />

    <% @posts.each do |post| %>
        <div class="post-image">
            <%= link_to image_tag(post.img.to_s, size: "400"), post_path(post) %><br />
        </div>
        <%= link_to post.user.username %><br />
        <div id="like-btn-<%= post.id %>">
            <%= post.ogiri %>
            <%= render "goods/good", post: post %>
        </div>

        <%#=
        <% post.comments.each do |comment| %>
            <%#=<div id="like-btn-<%= post.id %><%#">
                <%##= render "nices/nice" %>
            <%#</div>
        <%#<% end %>

    <% end %>
</div>
