<div class="container">
    <% if current_user %>
    <%= "変顔大喜利へようこそ#{current_user.username}さん" %><br />
    <% end %>
    <%= link_to "ユーザー情報設定はこちら", edit_user_registration_path %>
    <div class="hidden_box">
        <label for="label1">クリックして表示</label>
        <input type="checkbox" id="label1"/>
        <div class="hidden_show">   
            <%= render 'camera' %>
        </div>
    </div>
    <%= render 'new' %>
    <%= link_to "自分の大喜利を見る", my_ogiris_index_path %><br />
    <%= link_to "人気", popular_ogiris_index_path %><br />
    <%= link_to "新着", new_arrivals_index_path %><br />
    <%= link_to "お気に入りの大喜利", my_goods_nices_index_path %><br />

    <% @posts.each do |post| %>
        <div class="post-image">
            <%= link_to image_tag(post.img.to_s, size: "400"), post_path(post) %><br />
        </div>
        <%= link_to post.user.username, user_path(post.user) %><br />
        <div id="like-btn-<%= post.id %>">
            <%= post.ogiri %>
            <% if current_user.id == post.user.id %>
                <%= link_to post_path(post), method: :delete, data: {confirm: "削除しますか?"} do %>
                    <i class="fas fa-times-circle"></i>
                <% end %>
            <% end %>
            <%= render "goods/good", post: post %>
        </div>

        <% post.comments.each do |comment| %>
            <div id="like-btn-<%= post.id %>">
            <%= comment.ogiri %>
                <%= render "nices/nice", comment: comment %>
            </div>
        <% end %>

    <% end %>
</div>
